@model ErrorViewModel
@{
    ViewData["Title"] = "Bad Request";
}

<div class="text-center">
    <h1 class="display-4">400 - Bad Request</h1>
    <p>Invalid data</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go to Home</a>
</div>